html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
body {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	color: black;
	background-color: white;
	text-align: justify;
	line-height: 1.6;
}

header {
	background-image: url("../images/principal.jpg");
	padding: 5em;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: 100%;
	letter-spacing: 7px;
}

#title { font-size: 110px;
	       color: white;
	       text-align: center;
	       font-family: 'Montserrat', sans-serif;
	       font-weight: bold;
}

h1.first, h1.second {
	font-size: 24px;
	font-weight: bold;
	}

li {
	padding: 5px;
	display: inline;
	float: center;
	color: white;
}

a {
   text-decoration: none;
   color: white;
}

 li a {
	float: center;
	position: relative;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	transition: .5s;
}

 nav ul {
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 15px;
	font-size: 24px;
	letter-spacing: 1px;
	text-align: center;
	background-color: black;
	display: block;
	color: white;

}

nav a:active {
	background-color: #4CAF50;
	color: white;
	cursor: default;
}

li a:hover {
	background-color: white;
	color: black;
}

section {
    padding: 1em;
    overflow: hidden;
}

.art1 {
    float: left;
    max-width: 40%;
    margin: 0;
    padding-left: 6em;
}

.art2 {
    float: right;
    max-width: 40%;
    margin: 0;
    padding-right: 6em;
 }

 .art1, .art2 {
 	padding-top: 2em;
 }

footer {
	padding: 1.5em 2em;
	color: white;
	background-color: black;
}